/*

.conteudo {
	border: 1px solid red;
	padding: 20px 15px 10px 5px;
	width: 150px;
	margin: 20px;
}



#noticia {
	background: #f9f9f9;
	border: 1px solid gray;
	padding: 10px;
}

h2 {
	border: 1px solid red;
	margin: 0px;
}

*/